<!-- <div id={{id}} class="ui comment borderedcomment whited"> 
  
      <div class="avatarleft">    
                <img src="{{avatarUrl}}">
      </div>
 
    <div class="content paddedcontent">
    
        <a class="author">{{poster}}</a>
        <div class="metadata">
          <span class="date">{{datePosted | date : 'longDate'}}</span>
        </div>
        <div class="text" [innerHtml]="body">
        </div>
        <div style="float:left" class="actions quote">
          <a class="reply">Quote</a>
        </div>
        
      </div>
    
      
</div>
 -->
 <div class="ui comment borderedcomment whited">
    <a class="avatar">
        <img class="avatarleft" src="{{avatarUrl}}">
    </a>
    <div class="content paddedcontent">
        <a class="author">{{poster}}</a>
        <div class="metadata">
          <span class="date">{{datePosted | date : 'longDate'}}</span>
        </div>
        <div class="text" [innerHtml]="body">
        </div>
        <div style="float:left" class="actions quote">
          <a class="reply">Quote</a>
          <a *ngIf="posterIsLoggedIn" class="reply" (click)="deleteAnswer()">Delete Answer</a>
        </div>
    </div>
  </div>
