.avatarleft {
   padding-top:10px;
    
}
div.avatarleft img {
    width: auto;
    height: auto;
}

.user-detail {
    width: 300px;
    height: 100px;
    border: blue solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-detail>div {
    border: green solid 2px;
  }
  
  .user-detail .details {
    display: flex;
    flex-direction: column;
  }