<div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
  <h3 class="ui header">Login</h3>
  <div class="field">
    <label for="username">username:</label>
    <input type="text" id="username" formControlName='username'>
  </div>
  <div class="field">
    <label for="password">password:</label>
    <input type="password" id="password" formControlName='password'>
  </div>
  <button type='submit' [disabled]='!user.valid' class="ui labeled icon positive floated button centered" id='loginbtn'>
      <i class="angle double right icon"></i>
    Log in
  </button>
 
  <div class="ui horizontal divider">
      Or
    </div>
    <div class="ui labeled icon button centered">
        <a class='item' routerLink="/register">Register</a>
      <i class="add icon"></i>
    </div>
 

</form>
