<div class="borderedcontent">
<div>
<h1>{{question.title}}</h1>
<h2>by {{postername}}</h2>
<div class="ui section divider"></div>
<div class="questionbody">
  <div class="ui form">
  <div class="field">
    <div class="ui segment allPadded" [innerHTML]="question.body"></div>
  
</div>
</div>
</div>
<div *ngIf="posterIsLoggedIn" >
<button class="ui button paddedbutton" (click)="deleteQuestion()">Delete Question</button>
</div>
</div>  
<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  New Answer
</h4>
<div class="addanwser">
  <app-add-answer [question]='question'></app-add-answer>
</div>
<h4 *ngIf="question.answers.length > 0 else first" class="ui horizontal divider header">
    <i class="keyboard outline icon"></i>
    All Answers
  </h4>
<div *ngIf="question.answers.length > 0" class="anwsers ui comments">
  <app-answer class="answer" *ngFor="let answer of question.answers" [answer]='answer' [question]='question'></app-answer>
</div>
<ng-template #first>
    <h4  class="ui horizontal divider header">
        <i class="keyboard outline icon"></i>
        Nothing to see here, be the first! :o
      </h4>
  </ng-template>
</div>