button.ui.button.paddedbutton {
    margin-top: 10px ;
    margin-bottom: 10px;
}

div.ui.comment.borderedcomment {
    border-style: solid;
    border-color: rgb(201, 202, 204);
    border-width: 1px;
   
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 86px;
}

div.content.paddedcontent {
    padding-top: 10px;
}

a.avatar.padded {
    padding-top: 10px;
}

button.ui.icon.button.vote {
    float: left;
    clear: left;
    margin-top: 5px;
}

div.statistic.vote {
    float: left;
    clear: left;
}

div.vote {
    float: right;
    clear: right;
    display: block;
    
}
