<div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <div class="ui form">
    <h2>DavChat </h2>
    <hr>
    <div>
      <div class="ui field">


        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user" id="username" placeholder="Enter username">
        <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->

      </div>

      <div class="ui field">
        <label for="roomInput">Choose room</label>
        <select name="roomInput" id="roomInput" [(ngModel)]="room">
          <option value="Lobby">Lobby</option>
          <option value="Hall">Hall</option>
          <option value="Deluxe">Deluxe</option>
        </select>
      </div>
    </div>
    <div class="ui">
      <div style="margin-top:19px;" class="pull-right">
        <button type="button" class="ui button paddedbutton" (click)="join()">Join</button>
        <button type="button" class="ui button paddedbutton" (click)="leave()">Leave</button>
      </div>
    </div>


    <div class="row">
      <div class="well" style="height:200px; padding:15px;">
        <div *ngFor="let item of messageArray">
          <span>
            <strong>{{item.user}} : </strong> {{item.message}}</span>
        </div>
      </div>
    </div>
    <div class="ui field">

      <input type="text" class="form-control" [(ngModel)]="messageText">
    </div>
    <div>
      <button type="button" class="ui button paddedbutton" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>